.tab {
    overflow: hidden;
    /*border: 1px solid lawngreen;*/
}
.tab button {
    background-color: greenyellow;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}
.tab button:hover{
    background-color: lime;
}
.tab button.active {
    background-color: yellow;
}
.tabContent {
    display: none;
    padding: 5px 12px;
    /*border: 1px solid lawngreen;*/
    border-top: none;
}

.tabContent img {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.error {
    text-align: center;
    color: red;
}